<div lang="pt-BR" class="header" id="services" title="Pacotes Populares.">
  <div class="container">
    <h2 title="Titulo 'Pacotes Poulares'.">PACOTES <span class="word-color">POPULARES!</span>
    </h2> 
    <p title="descrição 'N/D'." class="sub-title">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

    <div title="Área dos Pacotes." class="cards" >
      <div class="row">
        @defer (on viewport) {
        <div class="col">
          <div title="Este Pacote é Recomendado para Compra." class="card card-recomended">
            <h2 title="Título do Primeiro Pacote.">Instagram <i class="bi bi-instagram insta-title"></i></h2>
            <p title="Descrição do Primeiro Pacote." class="sub-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p title="Preço com Desconto" class="sub-title-descount">
              de <span class="descount">R$ 197,00</span> por apenas
            </p>
            <h1 title="Preço Total do Primeiro Pacote" class="title">R$ 57,90</h1>

            <button title="Botão Para Visualizar Informações do Pacote">VISUALIZAR PACOTE</button>
            <hr />

            <div title="Elementos que o Pacote Disponibiliza" class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div title="Este é o Segundo Pacote." class="card">
            <h2 title="Título do Segundo Pacote.">Instagram <i class="bi bi-instagram insta-title"></i></h2>
            <p title="Descrição do Segundo Pacote." class="sub-title">
              Adquira o pacote Pack Woman Boss +
              <strong>Pack Minimalista + bônus incríveis</strong>
            </p>
            <p title="Preço com Desconto" class="sub-title-descount">
              de <span class="descount">R$ 397,00</span> por apenas
            </p>
            <h1 title="Preço Total do Segundo Pacote" class="title">R$ 67,90</h1>

            <button title="Botão Para Visualizar Informações do Pacote">VISUALIZAR PACOTE</button>
            <hr />

            <div title="Elementos que o Pacote Disponibiliza" class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div title="Pacote Personalizado" class="card">
            <h2 title="Título do Terceiro Pacote.">Personalizado</h2>
            <p title="Descrição do Terceiro Pacote." class="sub-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p title="Preço com Desconto" class="sub-title-descount">
              de <span class="descount">R$ 97,00</span> por apenas
            </p>
            <h1 title="Preço Total do Segundo Pacote" class="title">R$ 27,90</h1>

            <button title="Botão Para Visualizar Informações do Pacote">ENTRAR EM CONTATO</button>
            <hr />

            <div class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
        }@placeholder {
        <section title="Carregando..." class="section-loader">
          <div id="loader"></div>
        </section>
        }@error {
        <section title="Ocorreu um erro.">
          <h2>Ocorreu um erro no download do componente, tente novamente...</h2>
        </section>
        }
      </div>
    </div>
  </div>
</div>
