<div class="header" id="services">
  <div class="container">
    <h2>SERVIÇOS | PACOTES</h2>
    <p class="sub-title">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

    <div class="cards">
      <div class="row">
        @defer (on viewport) {
        <div class="col">
          <div class="card">
            <h2>PACOTE I</h2>
            <h1 class="title">R$ 160,00</h1>
            <p class="sub-title">Lorem ipsum dolor sit, amet.</p>

            <button>CONTATAR SERVIÇO</button>
            <hr />

            <div class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2>PACOTE II</h2>
            <h1 class="title">R$ 160,00</h1>
            <p class="sub-title">Lorem ipsum dolor sit, amet.</p>

            <button>CONTATAR SERVIÇO</button>
            <hr />

            <div class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2>PACOTE III</h2>
            <h1 class="title">R$ 160,00</h1>
            <p class="sub-title">Lorem ipsum dolor sit, amet.</p>

            <button>CONTATAR SERVIÇO</button>
            <hr />

            <div class="desc">
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
              <p><i class="bi bi-check2"></i>Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
        }@placeholder {
        <section class="section-loader">
          <div id="loader"></div>
        </section>
        }@error {
        <section>
          <h2>Ocorreu um erro no download do componente, tente novamente...</h2>
        </section>
        }
      </div>
    </div>
  </div>
</div>
