:host {
  .main-container {
    width: 100%;
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-error {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img{
        width: 45%;
        margin-bottom: 45px;
        border-radius: 25px;
        opacity: 89%;
      }

      .desc {
        h1 {
          font-size: 35px;
          margin-bottom: 25px;

          strong {
            background: linear-gradient(to right, #8459E8, #5271FF);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
          }
        }

        p {
          color: var(--grey-10);
          margin-bottom: 7px;

          text-align: left;
          font-size: 12px;

          strong {
            color: var(--black);

            a {
              text-decoration: none;
              color: #365bff;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
