<footer id="footer">
  <div class="container">
    <div class="copyright">
      <p>© 2024 <span style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">GaedTech.</span> All Rights Reserved.</p>
    </div>
    <div class="more">
      <a href="#">Privacy Policy</a>
      <a href="#" style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;" class="terms">Terms of Service</a>
    </div>
  </div>
</footer>
