<div class="main-content">
  <carousel [interval]="myInterval">
    <slide>
      <div class="carousel">
        <p>Bem-vindo ao nosso site!</p>
        <h1>Explore o melhor que temos a oferecer<span>!</span></h1>
        <p>Descubra tudo o que nossa plataforma tem para você!</p>
        <a class="first-carousel" href="#about">Saiba mais sobre nós</a>
      </div>
    </slide>
    <slide>
      <div class="carousel">
        <div class="carousel-services">
          <div class="left-carousel">
            <h2>Descubra nossos pacotes mais populares<span>!</span></h2>
            <p>Explore o universo do design conosco!</p>
            <a class="second-carousel" href="#services">Veja nossos serviços</a>
          </div>
          <div class="right-carousel">
            <img
              src="../../../assets/images/fundoBranco.jpg"
              alt="imagem meramente ilustrativa dos pacotes!"
            />
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="carousel">
        <div class="carousel-services">
          <div class="left-carousel">
            <h2>Explore mais opções de pacotes<span>!</span></h2>
            <p>Descubra o design que mais combina com você!</p>
            <a class="second-carousel" href="#services">Ver mais pacotes</a>
          </div>
          <div class="right-carousel">
            <img
              src="../../../assets/images/fundoBranco.jpg"
              alt="imagem meramente ilustrativa dos pacotes!"
            />
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
