<div lang="pt-BR" title="Carrossel." class="main-content">
  <carousel title="Redireciona Para o Proximo Elemento." [interval]="myInterval">
    <slide>
      <div title="Primeiro Elemento do Carrossel." class="carousel">
        <p title="Seja Bem-Vindo ao nosso site.">Bem-vindo ao nosso site!</p>
        <h1 title="Titulo do Primeiro Carrossel.">Explore o melhor que temos a oferecer<span
            style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">!</span>
        </h1>
        <p title="Descrição do Primeiro Carrossel.">Descubra tudo o que nossa plataforma tem para você!</p>
        <a title="Redireciona Para o Sobre da Página." class="first-carousel" href="#about">Saiba mais sobre nós</a>
      </div>
    </slide>
    <slide>
      <div title="Segundo Elemento do Carrossel." class="carousel">
        <div class="carousel-services">
          <div class="left-carousel">
            <h2 title="Titulo do Segundo Carrossel.">Descubra nossos pacotes mais populares<span
                style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">!</span>
            </h2>
            <p title="Descrição do Segundo Carrossel.">Explore o universo do design conosco!</p>
            <a title="Redireciona Para os Pacotes Poulares da Página." class="second-carousel" href="#services">Veja
              nosso Pacotes Populares</a>
          </div>
          <div class="right-carousel">
            <img src="../../../assets/images/fundoBranco.jpg" alt="imagem meramente ilustrativa dos pacotes!"
              title="imagem meramente ilustrativa dos pacotes!" />
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div title="Terceiro Elemento do Carrossel." class="carousel">
        <div class="carousel-services">
          <div class="left-carousel">
            <h2 title="Titulo do Terceiro Carrossel.">Explore mais opções de pacotes<span
                style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">!</span>
            </h2>
            <p title="Descrição do Terceiro Carrossel.">Descubra o design que mais combina com você!</p>
            <a title="Link para Visualizar o Catalogo com Todos os Pacotes em Outra Página." class="second-carousel"
              href="#services">Ver mais pacotes</a>
          </div>
          <div class="right-carousel">
            <img src="../../../assets/images/fundoBranco.jpg" alt="imagem meramente ilustrativa dos pacotes!"
              title="imagem meramente ilustrativa dos pacotes!" />
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
