<div class="principal">
    <div class="icon">
        <img src="../../../assets/images/cookie-icon-black.png" alt="">
    </div>

    <div class="description">
        <p style="font-weight: bold;">Hey<span>!</span> This site use <span>Cookies</span>.</p>

        <p style="opacity: 60%;">This website uses cookies to ensure you get the best experience on our website.</p>

        <a href="--"><span>Terms of service.</span></a>
    </div>

    <div class="buttons">
        <button class="button-decline">Decline</button>
        <button class="button-accept">Accept</button>
    </div>
    
</div>
