<div [ngClass]="isLoggedIn ? 'main-container-already-logged' : 'main-container'">
  @if (isLoggedIn){
  <app-alreadylogged />
  } @else{
  @defer (on viewport) {
  <form [formGroup]="profileForm" (ngSubmit)="submit()" class="form-cadastro">
    <a [routerLink]="['']"><i class="bi bi-x-lg close"></i></a>
    <div class="header">
      <h1>Seja bem-vindo de volta<strong
          style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"
          class="terms">!</strong></h1>
      <p>Entre com uma conta criada.</p>
    </div>

    <label class="input">
      E-mail:
      <input type="text" placeholder="Example@example.com" formControlName="email"
        (blur)="validateData($event, 'email')" />
      @if (errorEmail !== '') {
      <p class="error-msg">{{ errorEmail }}</p>
      }
    </label>
    <label class="input">
      Senha:
      <input type="password" placeholder="senha..." formControlName="password" (blur)="validateData($event, 'senha')" />
      @if (erroPassword !== '') {
      <p class="error-msg">{{ erroPassword }}</p>
      }
    </label>

    <div class="check-area">
      <label class="input-check">
        <input type="checkbox" formControlName="rememberMe" />
        <label class="remember-me">Lembrar de mim?</label>
      </label>

      <a [routerLink]="['/reset-password']">Redefinir senha</a>
    </div>

    <button [disabled]="!profileForm.valid" class="btn-submit">Entrar</button>
    @if (getLoginError(); as error) {
    <div class="error-msg-container">
      <p class="error-msg">{{ error }}</p>
    </div>
    }
    @if (isLogged){
    <div class="error-msg-container">
      <p class="not-error-msg">Conectado com Sucesso!</p>
    </div>
    }

    <div class="footer">
      <hr />
      <p>
        não possui uma conta?
        <strong><a [routerLink]="['/cadastro']" style="color: #365bff;">Cadastrar-se</a></strong>
      </p>
    </div>
  </form>
  }@placeholder {
  <section class="section-loader">
    <div id="loader"></div>
  </section>
  }@error {
  <section>
    <h2>Ocorreu um erro no download do componente, tente novamente...</h2>
  </section>
  }
  }
</div>
