<div class="header">
  <a [routerLink]="['']">Debugger-area</a>

  <div class="nav">
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="header">
      <h3>DEBUGGER</h3>
    </div>
    <div class="section">
      <a [routerLink]="['/cadastro']">
        <i class="bi bi-box-arrow-in-right"></i>
        Cadastro
      </a>
      <a [routerLink]="['/login']">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
      </a>
      <a [routerLink]="['/not-found']">
        <i class="bi bi-bug"></i>
        Error-404
      </a>
    </div>
  </mat-drawer>
</mat-drawer-container>
