<section class="main-container">
  <h1>Seja bem vindo a <strong
      style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">DashBoard</strong>,
    está é Área de Graficos<strong
      style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">!</strong>
  </h1>
  <p>
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the official
    DataTables documentation.
  </p>

  <div class="full-conntent">
    <section class="left-area">
      <div class="top-container">
        <h2>1</h2>
      </div>
      <div class="bottom-container">
        <div class="left-item">
          <h2>3</h2>
        </div>
        <div class="right-item">
          <h2>4</h2>
        </div>
      </div>
    </section>
    <section class="right-area">
      <h2>2</h2>
    </section>
  </div>
</section>
