<div lang="pt-BR" class="header" title="Cabeçalho.">
  <a href="#header"><img src="../../../assets/images/logo-gaed.png" style="height: 40px; width: 40px;"
      alt="Logo da gaedTech" class="title" title="GaedTech Logo."></a>

  <ul class="navegation" title="Área de Navegação.">
    <li><a href="#header" class="nav-system" title="Início.">NOVIDADES</a></li>
    <li><a href="#services"
        class="nav-system-news word-color" title="Pacotes em Alta no Momento.">PACOTES EM ALTA</a></li>
    <li><a href="#about" class="nav-system" title="Sobre Nossa Empresa.">SOBRE</a></li>
    <li><a href="#joinUs" class="nav-system" title="Nossas Redes Sociais e Contatos.">REDES SOCIAIS</a></li>
    <li><a [routerLink]="['/catalogo']" class="nav-system" title="Nossas Redes Sociais e Contatos.">CATÁLOGO</a></li>
    @if (!isLoggedIn){
    <a [routerLink]="['/login']" class="btn-login" title="Realizar Login.">ENTRAR</a>
    }
    @if (isLoggedIn){
    @if (imageUrl){
    <img alt="Esta é sua Foto de Perfil" title="Foto de Perfil." class="user-picture" style="object-fit: cover;"
      [matMenuTriggerFor]="menu" [src]="imageUrl" width="30px" height="30px" loading="eager">
    } @else{
    <img alt="Esta é sua Foto de Perfil Padrão do Nosso Sistema" title="Foto de Perfil." class="user-picture"
      [matMenuTriggerFor]="menu" style="object-fit: cover;" src="../../../assets/images/pfp.jpg" width="30px"
      height="30px" loading="eager">
    }
    <mat-menu #menu="matMenu">
      <button mat-menu-item title="Acessar Meus Packs Adquiridos.">
        <i class="bi bi-file-medical icon-menu"></i>
        <span class="span-menu">Meus Packs</span>
      </button>
      <button mat-menu-item (click)="myProfile()" title="Acessar Meu Perfil.">
        <i class="bi bi-person icon-menu"></i>
        <span class="span-menu">Perfil</span>
      </button>
      <button mat-menu-item title="Acessar Minhas Configurações.">
        <i class="bi bi-gear icon-menu"></i>
        <span class="span-menu">Configurações</span>
      </button>
      <button mat-menu-item (click)="doLogoff()" title="Sair da Minha Conta.">
        <i class="bi bi-power icon-logof"></i>
        <span class="logof">Logoff</span>
      </button>
    </mat-menu>
    }
  </ul>
</div>
