:host {
  .header {
    width: 100%;
    padding: 15px 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 100;

    background: var(--black-10);

    a,
    li {
      color: var(--white);
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .navegation {
      margin-bottom: 0;

      display: flex;
      align-items: center;

      li {
        list-style: none;

        .nav-system,
        .nav-system-news {
          opacity: 69%;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          margin-left: 25px;
          transition: .2s;

          &:hover {
            opacity: 100%;
          }
        }

        .nav-system-news {
          position: relative;
          color: var(--primary-50);

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--primary-50);
          }
        }
      }

      .btn-login {
        padding: 5px 15px;
        margin-left: 30px;

        font-size: 12px;
        opacity: 69%;
        border: 1px solid var(--white);
        border-radius: 5px;

        cursor: pointer;
        transition: .2s;

        &:hover {
          color: var(--black);

          opacity: 100%;
          background: var(--white);
        }
      }
    }

    .user-picture {
      min-width: 40px;
      min-height: 40px;
      margin-left: 30px;

      background-image: url(../../../assets/images/pfp.jpg);
      background-size: cover;
      border: 2px solid var(--white);
      border-radius: 100%;
      opacity: 69%;
      transition: .2s;

      &:hover {
        opacity: 100%;
      }
    }
  }
}