<div class="header" id="about">
  <div class="container">
    <div class="left">
      <h2>Sobre a Gaede</h2>
      <p class="sub-title">
          Somos a sua ponte para o sucesso no mundo digital. Nosso objetivi é fornecer soluções
          <br>
          criativas e acessíveis para pequenas empresas e empreendedores que desejam marcar 
          <br>
          presença online com estilo e eficácia.
          <br>
      </p>
    </div>
    <!--<div class="right">
       <div class="span">
        <i class="bi bi-envelope icon"></i>
        <a style="color:#212529 " href="https://mail.google.com/mail/?view=cm&to=GaedTech@gmail.com">GaedTech&#64;gmail.com</a>
      </div>
      <br>
        <div class="span">
        <i class="bi bi-telephone icon"></i>
        +55 61 1108-1108
      </div>
    </div>-->
  </div>
</div>
