<div class="header" id="about">
  <div class="container">
    <div class="left">
      <h2>SOBRE</h2>
      <p class="sub-title">
        Somos seu Parceiro nos seus projetos e ideias, aonde criamos soluções aonde você tem problemas   
      </p>
    </div>
    <div class="right">
      <div class="span">
        <i class="bi bi-envelope icon"></i>
        Suairma&#64;gmail.com
      </div>
      <br>
      <div class="span">
        <i class="bi bi-telephone icon"></i>
        +55 61 1108-1108
      </div>
      
    </div>
  </div>
</div>
