:host {
  .header {
    width: 100%;
    padding: 70px 150px;

    background: var(--grey);


    .container {
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;
      

      h2 {
        margin-bottom: 15px;

        font-size: 30px;
      }

      .sub-title {
        margin-bottom: 55px;
      }

    }

    .span {
      display: end;
      justify-content: end;
      align-items: end;
      flex-direction: column;
      opacity: 69%;
      cursor: pointer;
      transition: .2s;
      font-size: 16px;

      &:hover{
        opacity: 100%;
      }
    
      .icon{
        font-size: 16px;
        margin: 0 5px 10px 0;
      }
    }
  }
}