<div lang="pt-BR" title="Sobre Nossa Empresa." class="header" id="about">
  <div class="container">
    <div title="Área da Esquerda." class="left-area">
      <h2 title="Titulo 'Sobre a GaedTech'." style="font-weight: bold;">Sobre a <span
          style="background: linear-gradient(to right,#8459E8,#5271FF); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">GaedTech.</span>
      </h2>
      <p title="Descrição." class="sub-title">
        A <strong>Gaed</strong> é sua parceira ideal para destacar sua <strong>presença digital</strong>. Oferecemos
        soluções <strong>criativas</strong> e <strong>acessíveis</strong> para <strong>pequenas empresas</strong> e
        <strong>empreendedores</strong>, com packs de artes editáveis que permitem criar identidades visuais
        <strong>personalizadas</strong> para <strong>redes sociais</strong>, <strong>websites</strong> e
        <strong>campanhas de marketing</strong>. Nossa equipe de design também cria artes <strong>exclusivas</strong>,
        refletindo a <strong>essência</strong> de cada <strong>marca</strong>. Simplificamos o ingresso no digital,
        tornando-o <strong>acessível</strong> e <strong>eficaz</strong> para transformar sua <strong>visão</strong> em
        <strong>realidade</strong>.
      </p>
      <hr style="border-top: 5px dotted; margin: 0px 0px 40px 0px !important;">
      <div style="display: flex; justify-content: center; align-items: center;">
        <button title="Botão Para Nos Conhecer Melhor.">Nos conheça melhor!</button>
      </div>
    </div>
    <div title="Área da Direita." class="right-area">
      @defer (on viewport) {
      <section class="top-img-section">
        <div class="left-img" title="Imagem Meramente Ilustrativa."></div>
        <div class="right-img" title="Imagem Meramente Ilustrativa."></div>
      </section>
      <div class="bottom-img" title="Imagem Meramente Ilustrativa."></div>
      }@placeholder {
      <section title="Carregando..." class="section-loader">
        <div id="loader"></div>
      </section>
      }@error {
      <section title="Ocorreu um erro.">
        <h2>Ocorreu um erro no download do componente, tente novamente...</h2>
      </section>
      }
    </div>
  </div>
</div>
