<section id="joinUs">
  <div class="container">
    <section class="left-area">
      <h2>Junte-se a nós<span>!</span></h2>
      <p class="sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit.
      </p>
      <div class="icons">

      </div>
    </section>
    <section class="right-area">
      <div class="container-right">
        <div class="row">
          <div class="col">
            <h2>Products</h2>
            <ul>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="col">
            <h2>Services</h2>
            <ul>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="col">
            <h2>Resources</h2>
            <ul>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
