<section lang="pt-BR" title="Entre em Contatos Conosco." id="joinUs">
  <div class="container">
    <section title="Área da Esquerda." class="left-area">
      <h2 title="Título 'Junte-se a Nós!'.">Junte-se a nós<span class="word-color">!</span></h2>
      <p title="Descrição." class="sub-title">
        A <strong>Gaed</strong> está sempre conectada com você através das nossas <strong>redes sociais</strong>. Estamos aqui para
        fortalecer sua <strong>presença digital</strong> oferecendo conteúdo exclusivo e interativo. Acompanhe nossas
        atualizações diárias para dicas valiosas sobre <strong>marketing digital</strong>, insights inspiradores sobre
        <strong>design</strong> e soluções inovadoras para impulsionar seu negócio. Siga-nos nas redes sociais para
        ficar por dentro das últimas tendências e descubra como podemos ajudar você a alcançar seus objetivos de forma
        eficaz e criativa.
      </p>
      <div title="Redes Sociais." class="icons">
        <a href="https://www.facebook.com/groups/830152307750866/">
          <i class="bi bi-facebook" title="Facebook."></i>
        </a>
        <a href="https://x.com/memeinutil?lang=pt">
          <i class="bi bi-twitter-x" title="Twitter."></i>
        </a>
        <a href="https://mail.google.com/mail/?view=cm&to=gaedtech@gmail.com">
          <i class="bi bi-envelope-at-fill" title="Email."></i>
        </a>
        <a href="https://www.threads.net/?hl=pt-br">
          <i class="bi bi-threads-fill" title="Threads."></i>
        </a>
        <a href="tel:40028922">
          <i class="bi bi-telephone-fill" title="Telefone para Contato."></i>
        </a>
      </div>
    </section>
    <section title="Área da Direita." class="right-area">
      <div class="container-right">
        <div class="row">
          <div class="col">
            <h2>Products</h2>
            <ul class="main-list">
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="col">
            <h2>Services</h2>
            <ul class="main-list">
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>  
            </ul>
          </div>
          <div class="col">
            <h2>Recursos</h2>
            <ul class="main-list">
              <li><a title="Em Alta." href="#services">Em Alta</a></li>
              <li><a title="Sobre." href="#about" class="word-color">Sobre</a></li>
              <li><a title="Catálogo.">Catálogo</a></li>
              <li><a title="Login." [routerLink]="['/login']">Login</a></li>
              <li><a title="Perguntas Frequentes." [routerLink]="['/faq']" class="word-color">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
