<section lang="pt-BR" title="Entre em Contatos Conosco." id="joinUs">
  <div class="container">
    <section title="Área da Esquerda." class="left-area">
      <h2 title="Título 'Junte-se a Nós!'.">Junte-se a nós<span class="word-color">!</span></h2>
      <p title="Descrição." class="sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit.
      </p>
      <div title="Redes Sociais." class="icons">
        <i class="bi bi-facebook" title="Facebook."></i>
        <i class="bi bi-twitter-x" title="Twitter."></i>
        <i class="bi bi-envelope-at-fill" title="Email."></i>
        <i class="bi bi-threads-fill" title="Threads."></i>
        <i class="bi bi-telephone-fill" title="Telefone para Contato."></i>
      </div>
    </section>
    <section title="Área da Direita." class="right-area">
      <div class="container-right">
        <div class="row">
          <div class="col">
            <h2>Products</h2>
            <ul class="main-list">
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="col">
            <h2>Services</h2>
            <ul class="main-list">
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="col">
            <h2>Resources</h2>
            <ul class="main-list">
              <li><span title="Em Alta.">Em Alta</span></li>
              <li><span title="Sobre." class="word-color">Sobre</span></li>
              <li><span title="Catálogo.">Catálogo</span></li>
              <li><span title="Login." [routerLink]="['/login']">Login</span></li>
              <li><span title="Perguntas Frequentes." [routerLink]="['/faq']" class="word-color">FAQ</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
