:root{
  --primary: #0353a4;
  --primary-10: #002855;

  --white: #fff;

  --blue: #E8F0FF;

  --red: #A40303;

  --black: #10101a;
  --black-10: #2a2a30;


  --grey: #f3f4f6;
  --grey-10: #9b9ba0;
  --grey-20: #828282;
}
