:root{
  --primary: #0353a4;
  --primary-10: #002855;
  --primary-50: #3987d5;

  --white: #fff;

  --blue: #E8F0FF;

  --green: #2ecc71;
  --red: #d33;

  --black: #10101a;
  --black-10: #2a2a30;

  --hex: #576b6b;

  --grey: #f3f4f6;
  --grey-10: #9b9ba0;
  --grey-20: #828282;
}
