:host {
  .container-main {
    display: flex;
    width: 100%;
    min-height: 100%;

    .example-sidenav {
      width: 250px;
      padding: 25px 40px 15px 20px;

      background: linear-gradient(to top, #8459E8, #5271FF);
      box-shadow: 0px 10px 21px -3px rgba(0, 0, 0, 0.1);

      header {
        h2 {
          text-decoration: underline;
          color: var(--white);
          font-weight: bold;

          cursor: pointer;
        }
      }

      .main-header-painel {
        width: 95%;
        background: #fff;
        box-shadow: 0px 10px 21px -3px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;

        .title-painel {
          color: #000;  
          font-size: 16px;
        }

        .description {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          a {
            margin-bottom: 10px;
          }
        }

        .table-element {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 70%;

          margin-bottom: 10px;
          cursor: pointer;
          transition: .2s;

          &:hover {
            opacity: 100%;
          }

          i {
            margin-right: 10px;
          }

          i,
          label {
            cursor: pointer;
          }
        }
      }
    }
  }

  .main-body {
    width: 100%;

    .header {
      height: 50px;
      padding: 15px 50px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      box-shadow: 0px 10px 21px -3px rgba(0, 0, 0, 0.1);

      .left-container {
        width: 100%;

        .input {
          .icon {
            padding: 8px;
            color: var(--white);
            background: var(--primary);

            font-size: 12px;
            border-radius: 0 5px 5px 0;
          }

          input {
            width: 40%;
            opacity: 89%;
            padding: 5.4px 5px 5.4px 15px;
            outline: none;

            font-size: 12px;
            border: none;
            background: var(--grey);

            border-radius: 5px 0 0 5px;
          }
        }
      }

      .right-container {
        width: 60%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon {
          margin-right: 15px;

          opacity: 39%;
          font-size: 16px;

          cursor: pointer;

          &:hover {
            opacity: 100%;
          }
        }

        hr {
          margin: 0 10px 0 10px;
          height: 30px;
          border: 0.5px solid var(--black);
        }

        .icon-user {
          opacity: 39%;
          margin-left: 15px;
          padding: 3px 5px;

          color: var(--black);
          border-radius: 50%;
          border: 1px solid var(--black);
          transition: 0.2s;

          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }

  .container-main-table {
    padding: 30px;
  }
}
