:host {
  .main-table {

    table {
      width: 100%;
    }
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  h1 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    margin-bottom: 35px;
  }

  .top {
    border-bottom: 2px solid var(--primary);
  }
}
